 
  .heading{
    font-size:20px;
    font-weight:600;
    color:#3D5AFE;
  
  }
  
  .line1{
    color:#000;
    font-size:12px;
  
  }
   .line2{
    color:#000;
    font-size:12px;
    
  }
   .line3{
    color:#000;
    font-size:12px;
    
  }
  
  .card{
  
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .card:hover{
  
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
  }

  #divback
  {
    
    background-color: whitesmoke;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(); 
  }
  
  