* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

#navbar {
  background-color: beige;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5rem;
  padding: 10px;
  height: 70px;
}
