/* Review.css */

.submit-btn {
  border-color: blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  margin-left: 70vh;
}

.submit-btn:hover {
  box-shadow: 0 0 10px 0 rgb(29, 29, 30) inset, 0 0 10px 4px blue;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
   background-color: antiquewhite;

  h2 {
    width: 100%;
    text-align: center;

    a {
      color: skyblue;
    }
  }
}


.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 50px;
  cursor: default;

  input[type="radio"] {
    display: none;
  }

  label {
    color: #bbb;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  label:hover,
  label:hover ~ label,
  input[type="radio"]:checked ~ label {
    color: #f2b600;
  }
}
.checked {
  color: orange;
}
